{% extends "admin/base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{  url('dashboard') }}">{{_("Dashboard",2)}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{_("Pages",2)}}</li>
  </ol>
</nav>

<!-- Content Row -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-pages-list">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">
                    {{_('Pages',2)}}
                </h6>
            </div>
            <div class="card-body">

                <div class=" table-responsive" >
                    <div class="row">
                        <div class="col">
                            <div class="text-right mb-2">
                                <a href="{{  url('dashboard-add-page') }}" class="btn btn-primary btn-xs add-new-page">{{_("Add New Page",2)}}</a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>{{_("ID",2)}}</th>
                                <th>{{_("Title",2)}}</th>
                                <th>{{_("Permalink",2)}}</th>
                                <th>{{_("Status",2)}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="pages-list">
                            {% for page in pages %}
                                <tr class="" id="page-{{page.id}}">
                                    <td>{{page.id}}</td>
                                    <td>{{page.title}}</td>
                                    <td>/{{page.slug}}</td>
                                    <td>
                                        {% if page.status == 1 %}
                                            <span class="badge badge-primary">{{_("Published",2)}}</span>
                                        {% else %}
                                            <span class="badge badge-warning">{{_("Unpublished",2)}}</span>
                                        {% endif %}
                                    </td>
                                    <td class="nowrap">
                                        <a href="{{  url('dashboard-add-page') }}?edit_page={{page.id}}"  class="btn btn-warning btn-xs" >
                                            <i class="fas fa-edit"></i> {{_("Edit",2)}}
                                        </a>
                                        <a href="javascript:void(0);" id="{{page.id}}" class="btn delete-page btn-danger btn-xs">
                                            <i class="fas fa-trash"></i> {{_("Delete",2)}}
                                        </a>
                                        <a href="{{SITE_URL}}page/{{page.slug}}" target="_blank" class="btn btn-success btn-xs" >
                                            <i class="fas fa-eye"></i> {{_("View",2)}}
                                        </a>
                                    </td>
                                </tr>   
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    
            </div>
        </div>
    </div>
</div>

{% endblock %}
