<!DOCTYPE html>
<html lang="en" class="{{THEME}} {{LANG['direction']}}">
<head>
    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no shrink-to-fit=no">
    <title>{{ title ? title : SETTINGS.site_name }}</title>
    <meta name="description" content="{{ page.meta_description ? page.meta_description : SETTINGS.site_description }} " />
    {% if  SETTINGS.default_ogimage %}
    <meta property="og:image" content="{{MEDIA_URL}}/settings/{{SETTINGS.default_ogimage}}" />
    {% else %}
    <meta property="og:image" content="{{STATIC_URL}}/img/ogimage.png" />
    {% endif %}
    {% if SETTINGS.pwa_enabled %}
    <link rel="manifest" href="{{ url('manifest') }}"></link>
    {% endif %}
    {% if SETTINGS.favicon %}
    <link rel="icon" type="image/png" href="{{MEDIA_URL}}/settings/{{SETTINGS.favicon}}"/>
    {% endif %}
    <title>{{SETTINGS.site_name}}</title>
    <link href="{{STATIC_URL}}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family={{GOOGLE_FONT_FAMILY?GOOGLE_FONT_FAMILY:Poppins}}:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap">
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family={{GOOGLE_FONT_FAMILY?GOOGLE_FONT_FAMILY:Poppins}}:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap">
    <link href="{{STATIC_URL}}/css/styles.css?v={{CV}}" rel="stylesheet">
    <link href="{{STATIC_URL}}/css/index.css?v={{CV}}" rel="stylesheet">
    <link href="{{STATIC_URL}}/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}/css/flag-icon.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}/vendor/toastr/toastr.min.css" rel="stylesheet" type="text/css">
    {% if SETTINGS.animate_css %}
    <link href="{{STATIC_URL}}/css/animate.min.css" rel="stylesheet">
    {% endif %}
    <link href="{{ url('color_css') }}" rel="stylesheet">
    {% if SETTINGS.header_css %}
    <style media="screen">
        {{SETTINGS.header_css}}
    </style>
    {% endif %}
    {% if SETTINGS.pwa_enabled %}
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>
    {% endif %}
    {{SETTINGS.header_js|htmlspecialchars_decode|raw}}
</head>
<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top {% if SETTINGS.homepage_banner_view == '0' or page.show_banner == '0' %}navbar-no-header{% endif %}">
                    <div class="container">
                        <a class="navbar-brand text-white logo" {% if SETTINGS.sso_enabled and SETTINGS.sso_home_url %}target="_parent"{% endif %} href="{% if SETTINGS.sso_enabled and SETTINGS.sso_home_url %} {{ SETTINGS.sso_home_url }} {% else %} {{ url('index') }} {% endif %}">
                            {% if SETTINGS.logo %}
                                <img class="mr-2 large" src="{{MEDIA_URL}}/settings/{{SETTINGS.logo}}">
                            {% else %}
                                <img class="mr-2 large" src="{{STATIC_URL}}/img/logo.png">
                            {% endif %}
                            {% if SETTINGS.small_logo %}
                                <img class="mr-2 small" src="{{MEDIA_URL}}/settings/{{SETTINGS.small_logo}}">
                            {% else %}
                                <img class="mr-2 small" src="{{STATIC_URL}}/img/logo_small.png">
                            {% endif %}
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu" class="fa fa-bars"></i>
                        </button>
                        {% if SETTINGS.custom_menus %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-5">
                                {% for menu in menus %}
                                    {% if (menu.members_only == 1 and IS_AUTHENTICATED) or menu.members_only == 0 %}
                                        <li class="nav-item " id="custom-menu-{{menu.id}}">
                                            <a class="nav-link {{menu.css_class}}" target="{{menu.target}}" href="{{menu.permalink}}">
                                                {% if menu.icon_class %}
                                                    <i class="{{menu.icon_class}} mr-2"></i> 
                                                {% endif %}
                                                {{menu.title}}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% include "common_menu.html" %}
                            </ul>
                        </div>
                        {% else %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-5">
                                <li class="nav-item "><a class="nav-link" {% if SETTINGS.sso_enabled and SETTINGS.sso_home_url %}target="_parent"{% endif %} href="{% if SETTINGS.sso_enabled and SETTINGS.sso_home_url %} {{ SETTINGS.sso_home_url }} {% else %} {{ url('index') }} {% endif %}">{{ _('Home') }}</a></li>
                                {% if SETTINGS.enable_about %}
                                <li class="nav-item "><a class="nav-link" href="{{ url('about') }}">{{ _('About') }}</a></li>
                                {% endif %}
                                {% if SETTINGS.enable_contact %}
                                <li class="nav-item "><a class="nav-link" href="{{ url('contact') }}">{{ _('Contact') }}</a></li>
                                {% endif %}
                                {% include "common_menu.html" %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </nav>
                {% if (SETTINGS.homepage_banner_view != 0 or SETTINGS.homepage_banner_view == '') and page.show_banner != '0' %}
                
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary bgimg">
                    <div class="page-header-content pt-2">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6" data-aos="fade-up">
                                    <h1 class="page-header-title">{% if SETTINGS.homepage_title %}{{SETTINGS.homepage_title|raw}}{% else %}Free Online Chat Rooms For Everyone{% endif %}</h1>
                                    <p class="page-header-text mb-5 mt-4">
                                        {% if SETTINGS.homepage_description %}
                                            {{SETTINGS.homepage_description|htmlspecialchars_decode|raw}}
                                        {% else %}
                                            Start a live free chat online with thousands of other people from all over the world. It's 100% free & safe.
                                        {% endif %}
                                    </p>
                                    {% if not USER %}
                                        <a class="btn btn-teal btn-marketing rounded-pill lift lift-sm" href="{{ url('register') }}">{{ _('Create an Account') }}<i class="fas fa-arrow-right ml-1"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 home-img-col" data-aos="fade-up" data-aos-delay="50">
                                    {% if SETTINGS.home_page_image %}
                                        <img class="img-fluid" src="{{MEDIA_URL}}/settings/{{SETTINGS.home_page_image}}" />
                                    {% else %}
                                        <img class="img-fluid" src="{{STATIC_URL}}/img/homepage_2.png" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                {% endif %}
                {%block content%}{%endblock%}
            </main>
        </div>
        <div class="modal fade rooms-modal" tabindex="-1" role="dialog" aria-labelledby="roomsModel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-body">
                        {% include 'chat_room_update.html' %}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- profile modal -->
        {% include 'profile_modal.html' %}
        {% include 'chat_room_list_modal.html' %}
        <div id="layoutDefault_footer">
            <footer class="footer pt-3 pb-3  bg-light footer-light">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 small">{% if SETTINGS.copyright %}{{SETTINGS.copyright|escape}}{% else %} Copyright &#xA9; <a href="http://chatnet.oncodes.com/" target="_blank"> Oncodes 2020 </a> {% endif %} </div>
                        <div class="col-md-6 text-md-right small">
                            {% if SETTINGS.enable_about %}
                            <a href="{{ url('about') }}">{{ _('About Us') }}</a>
                            &#xB7;
                            {% endif %}
                            {% if SETTINGS.enable_contact %}
                            <a href="{{ url('contact') }}">{{ _('Contact Us') }}</a>
                            &#xB7;
                            {% endif %}
                            {% if SETTINGS.enable_privacy %}
                            <a href="{{ url('privacy') }}">{{ _('Privacy Policy') }}</a>
                            &#xB7;
                            {% endif %}
                            {% if SETTINGS.enable_terms %}
                            <a href="{{ url('terms') }}">{{ _("Terms & Conditions") }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    {% if SETTINGS.cookie_consent_popup %}
    <!-- START Cookie Alert -->
    <div class="alert text-center cookiealert" role="alert">
        {% if SETTINGS.cookie_consent_message %}
            {{ SETTINGS.cookie_consent_message|raw }}
        {% else %}
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website.
        <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>
        {% endif %}
        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            {{ _("I agree") }}
        </button>
    </div>
    <!-- END Cookie Alert -->
    {% endif %}
    <script src="{{STATIC_URL}}/vendor/jquery/jquery.min.js"></script>
    <script src="{{STATIC_URL}}/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="{{STATIC_URL}}/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="{{STATIC_URL}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{STATIC_URL}}/vendor/dropdown-datepicker/js/jquery.date-dropdowns.min.js"></script>
    <script src="{{STATIC_URL}}/js/loadingoverlay.min.js" ></script>
    <script src="{{STATIC_URL}}/vendor/select2/select2.min.js"></script>
    <script src="{{STATIC_URL}}/vendor/toastr/toastr.min.js" ></script>
    <script src="{{ url('scripts_js') }}"></script>
    <script src="{{ url('index_js') }}"></script>

</body>
</html>
