
.setting-image-preview {
	width: 100px;
	height: 75px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
}

.room-coverimage-preview {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	border: 1px solid;
}

.room-coverimage-preview img {
	object-fit: cover;
}
  
.room-bgimage-preview {
	height: 50px;
	width: 50px;
	border-radius: 2px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	border: 1px solid;
  	display: inline-block;
}

.room-bgimage-preview img {
object-fit: cover;
}

/*** Loader ***/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #36b9cc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*** Loader End ***/

.btn-group-xs > .btn, .btn-xs {
    line-height: 1;
	border-radius: .2rem;
	font-size: 12px;
	width: fit-content;
}

.btn-xs .text {
    padding: 6px;
}

.btn-xs .icon {
    padding: 6px;
}

.imagePreview {
    width: 150px;
    height: 150px;
    background-position: center center;
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

.btn-upload{
    display:block;
    width: 150px;
    border-radius:0px;
    box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
}

.upload-image{
    width: 0px;
    height: 0px;
    overflow: hidden;
}

/* Plugin date-dropdown Container */
.date-dropdown {
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
}

.date-dropdown select {
	padding: 6px;
	border: 1px solid #d1d3e2;
	border-radius: 0.35rem;
	color: #6e707e;
	margin-right: 3px;
}

.date-dropdown select.invalid {
    color: #E9403C;
}

#load-more-end{
    text-align: center;
}

#image-settings .row {
    border-bottom: 1px solid #e3e6f0;
    margin-bottom: 15px;
}

#image-settings label {
    font-weight: bold;
}



.admin-img-preview {
    background-color: #2e353e !important;
}

.user-avatar {
    display: flex;
    align-items: center;
    margin-right: auto;
}

img.img-profile {
    width: 40px;
    border-radius: 5px;
}

.user-avatar {
    display: flex;
    align-items: center;
}

.user-avatar {
    display: flex;
    align-items: center;
	margin-right: auto;
}

.user-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    justify-content: center;
    min-width: 0;
    padding: 0 16px 0 0;
    color: #acbdbd;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div#chats {
    margin-left: 0;
    margin-right: 0;
}

.tab-content.tab-sidebar .tab-pane {
    padding: 0px;
}


.form-control[readonly] {
    background-color: #737373;
}

/*-------------------------
	The clocks
--------------------------*/


#clock{

}


#clock .display{
	text-align:center;
	padding: 40px 20px 20px;
	border-radius:6px;
	position:relative;
}


/*-------------------------
	Light color theme
--------------------------*/


#clock.light{
	background-color:#f3f3f3;
	color:#272e38;
}

#clock.light:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

#clock.light .digits div span{
	background-color:#272e38;
	border-color:#272e38;
}

#clock.light .digits div.dots:before,
#clock.light .digits div.dots:after{
	background-color:#272e38;
}

#clock.light .alarm{
	background:url('../img/alarm_light.jpg');
}

#clock.light .display{
	background-color:#dddddd;
	box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}


/*-------------------------
	Dark color theme
--------------------------*/


#clock.dark:after{
	box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

#clock.dark .digits div span{
	background-color:#cacaca;
	border-color:#cacaca;
}


#clock.dark .digits div.dots:before,
#clock.dark .digits div.dots:after{
	background-color:#cacaca;
}


/*-------------------------
	The Digits
--------------------------*/


#clock .digits div{
	text-align:left;
	position:relative;
	width: 28px;
	height:50px;
	display:inline-block;
	margin:0 4px;
}

#clock .digits div span{
	opacity:0;
	position:absolute;

	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	transition:0.25s;
}

#clock .digits div span:before,
#clock .digits div span:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	border:5px solid transparent;
}

#clock .digits .d1{			height:5px;width:16px;top:0;left:6px;}
#clock .digits .d1:before{	border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
#clock .digits .d1:after{	border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d2{			height:5px;width:16px;top:24px;left:6px;}
#clock .digits .d2:before{	border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
#clock .digits .d2:after{	border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}

#clock .digits .d3{			height:5px;width:16px;top:48px;left:6px;}
#clock .digits .d3:before{	border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
#clock .digits .d3:after{	border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}

#clock .digits .d4{			width:5px;height:14px;top:7px;left:0;}
#clock .digits .d4:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d4:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d5{			width:5px;height:14px;top:7px;right:0;}
#clock .digits .d5:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d5:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}

#clock .digits .d6{			width:5px;height:14px;top:32px;left:0;}
#clock .digits .d6:before{	border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
#clock .digits .d6:after{	border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}

#clock .digits .d7{			width:5px;height:14px;top:32px;right:0;}
#clock .digits .d7:before{	border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
#clock .digits .d7:after{	border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}


/* 1 */

#clock .digits div.one .d5,
#clock .digits div.one .d7{
	opacity:1;
}

/* 2 */

#clock .digits div.two .d1,
#clock .digits div.two .d5,
#clock .digits div.two .d2,
#clock .digits div.two .d6,
#clock .digits div.two .d3{
	opacity:1;
}

/* 3 */

#clock .digits div.three .d1,
#clock .digits div.three .d5,
#clock .digits div.three .d2,
#clock .digits div.three .d7,
#clock .digits div.three .d3{
	opacity:1;
}

/* 4 */

#clock .digits div.four .d5,
#clock .digits div.four .d2,
#clock .digits div.four .d4,
#clock .digits div.four .d7{
	opacity:1;
}

/* 5 */

#clock .digits div.five .d1,
#clock .digits div.five .d2,
#clock .digits div.five .d4,
#clock .digits div.five .d3,
#clock .digits div.five .d7{
	opacity:1;
}

/* 6 */

#clock .digits div.six .d1,
#clock .digits div.six .d2,
#clock .digits div.six .d4,
#clock .digits div.six .d3,
#clock .digits div.six .d6,
#clock .digits div.six .d7{
	opacity:1;
}


/* 7 */

#clock .digits div.seven .d1,
#clock .digits div.seven .d5,
#clock .digits div.seven .d7{
	opacity:1;
}

/* 8 */

#clock .digits div.eight .d1,
#clock .digits div.eight .d2,
#clock .digits div.eight .d3,
#clock .digits div.eight .d4,
#clock .digits div.eight .d5,
#clock .digits div.eight .d6,
#clock .digits div.eight .d7{
	opacity:1;
}

/* 9 */

#clock .digits div.nine .d1,
#clock .digits div.nine .d2,
#clock .digits div.nine .d3,
#clock .digits div.nine .d4,
#clock .digits div.nine .d5,
#clock .digits div.nine .d7{
	opacity:1;
}

/* 0 */

#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7{
	opacity:1;
}


/* The dots */

#clock .digits div.dots{
	width:5px;
}

#clock .digits div.dots:before,
#clock .digits div.dots:after{
	width:5px;
	height:5px;
	content:'';
	position:absolute;
	left:0;
	top:14px;
}

#clock .digits div.dots:after{
	top:34px;
}




/*-------------------------
	Weekdays
--------------------------*/


#clock .weekdays{
	font-size:12px;
	position:absolute;
	width:100%;
	top:10px;
	left:0;
	text-align:center;
}


#clock .weekdays span{
	opacity:0.2;
	padding:0 10px;
}

#clock .weekdays span.active{
	opacity:1;
}


/*-------------------------
		AM/PM
--------------------------*/


#clock .ampm{
	position:absolute;
	bottom:20px;
	right:20px;
	font-size:12px;
}

.trans-lang-switch, .trans-section-switch{
    background-color: #1d2127 !important;
    width: auto !important;
    display: inline;
}

::-webkit-scrollbar {
  width: 10px !important;
}

div, span, ul {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

::-webkit-scrollbar-track {
  background: #282d36;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc ;
  border-radius: 0px;
  border: 3px solid transparent;
}

.table-responsive .row {
	margin: 0;
}

.custom-colors .h4 {
	color: #2196F3;
	margin-bottom: 20px;
	border-bottom: 1px solid #282d36;
	width: 100%;
	padding-bottom: 18px;
}

.sidebar-brand-text.mx-3 {
	text-align: left;
}

.sidebar-brand img {
	width: 50px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 5px;
}

.slider.round:before {
  border-radius: 50%;
}


.select2-container--bootstrap4 .select2-selection--single {
    height: 38px !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    height: 38px !important;
    font-size: 1rem;
    line-height: 38px;
    border-radius: 3px;
}

.select2-search--dropdown .select2-search__field {
    font-size: 1rem;
}

.select2-results__option--selectable {
    font-size: 1rem;
}

.sidebar-brand-text.mx-3 {
	display: -webkit-box;
	overflow: hidden !important;
	font-size: 12px;
	line-height: 18px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: horizontal;
}

.form-control-file{
	overflow: hidden;
}

.table td, .table th {
	padding: .50rem .75rem;
	vertical-align: middle;
	font-size: 14px;
}

table {
	border-radius: 5px;
	overflow: hidden;
}

th {
	border-top: none !important;
	border-bottom: none !important;
}

.btn {
	white-space: nowrap;
}

.hidden-row, .delete-row{
	display: none;
}

img.auth-provider-icon {
    width: 32px;
}

.upload-radio-icon, .upload-reaction-icon, .upload-badge-icon {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.radio-icon, .reaction-icon, .badge-icon{
	width: 32px;
	border-radius: 5px;
}

span.input-group-text {
	color: #e3e6d3;
    background-color: #2e353e;
    border-color: #1d2127;
}

.nowrap{
	white-space: nowrap;
}


.trans-phrase {
	border-bottom: 1px solid #3a3b45;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
  transition: 0.3s;
}

.trans-phrase:hover {
  background: #1d2127;
}

.disable {
  pointer-events: none;
}

.bg-gradient-primary {
	background-color: #2b3037;
  background-image:none;
}

.bg-darkgray {
	background: #E5E7E9;
}


.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
	background-color: #2b3037;
	color: #eee;
}

.text-white {
	color: #858796!important;
}

.room-bgimage-remove {
	padding: 0;
	line-height: 1;
	margin-top: -40px;
	padding: 1px 2px;
	font-size: 10px;
}

.remove-setting {
	height: 20px;
	align-self: center;
	margin-left: 5px;
	border: none;
	background: #f44336;
	color: #fff;
	padding: 5px;
	border-radius: 2px;
	line-height: 1;
	font-size: 10px;
}