


.bg-gradient-primary {
    background-color: #1D2127;
    background-image: linear-gradient(180deg, #26292d 0%, #1D2127 100%);
}
/* linear-gradient(180deg, #4e4f53 0%, #1f2024 100%) !important */
#wrapper #content-wrapper {
    background-color: #1D2127;
}

.topbar {
    background: #1D2127 !important;
    border-bottom: 1px solid #3a3b45;
}

.card-header, .card-footer {
    background: #282d36;
    border-bottom-color: #1d2127;
}

.card-footer {
	border-top: 1px solid #2e353e;
}

.card-header h6{
    color: #fff !important;
}

.card {
    background: #2e353e;
    box-shadow: none;
    border: none;
}

.form-control {
    background-color: #282d36;
    border-color: #282d36;
    color: #EEE;
    border:none;
}

.form-control:focus {
    color: #ffffff;
    background-color: #282d36;
    border:none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
}

#accordionSidebar {
    border-right: 1px solid #3a3b45;
}

.collapse-inner {
    background-color: #2e353e!important;
}

.collapse-inner a{
    color: #ffffff !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #1d2127;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #4e73df  !important;
    font-weight: 700;
}

body{
    color: #e3e6f0;
}

.sidebar-dark .sidebar-brand {
    background: #1d2127;
    border-bottom: 1px solid #3a3b45;
}

.table-bordered, .table-bordered td, .table-bordered th, .table thead th {
	border: 1px solid #3d4044;
}

.page-item .page-link {
	background-color: #1f2328 !important;
	border-color: #2e353e !important;
}

.table {
	color: #eee;
}

#image-settings .row {
	border-bottom: 1px solid #282d36;
}

.dropzone .dz-preview.dz-image-preview {
    background: #192229;
}

.replied-to {
    background-color: #1f2831;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    background: #282d36;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    color: #eee;
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below, .select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above {
    background: #141b20 !important;
    border-color: #202932;
}

.select2-search--dropdown .select2-search__field {
    background: #282d36;
    border-color: transparent;
    color: #eee;
}

.select2-results__option--selectable {
    color: #eee;
}

table {
	background: rgb(41, 47, 56);
}


th {
	background: #22262a;
}


.breadcrumb {
    background-color: #2e353e;
}


.select2-container--bootstrap4 .select2-selection {
    border: none;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    background: #282d36;
    color: #fff;
}

.date-dropdown select {
	background: #282d36;
	border: 1px solid #282d36;
	color: #ffffff;
}

.bg-dark {
	background-color: #292f38!important;
}